body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: mediumpurple;
}

#titleText {
    font-size: 24px;
    color: white;
    text-decoration: underline;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 400px;
}

.section {
    color: white;
    border-color: white;
    border-style: dotted;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    float: left;
}

.gear {
    background-color: lightgray;
    border-radius: 10px;
}
.brand{
    height: 30px;
}
.main {
    height:30px;
    width: 30px;
}
.brandText{
    display: inline-block;
    min-width: 100px;
}

#randomizers {
    width: 510px;
    margin-left: 40px;
    margin-right: auto;
}

#options {
    width: 200px;
    height: 480px;
    margin-left: 40px;
    margin-right: auto;
    float: left;
}

#menu{
    width: 190px;
    height: 470px;
    border-color: snow;
    border-style: inset;
    border-radius: 10px;
}

#headgearBox {
    color: white;
    background-color:rebeccapurple;
    margin-bottom: 5px;
    height: 150px;
    width: 500px;
    border-style: inset;
    border-color: snow;
    border-radius: 10px;
}
#clothingBox {
    color: white;
    background-color: rebeccapurple;
    margin-bottom: 5px;
    height: 150px;
    width: 500px;
    border-style: inset;
    border-color: snow;
    border-radius: 10px;
}
#shoeBox {
    color: white;
    background-color: rebeccapurple;
    margin-bottom: 5px;
    height: 150px;
    width: 500px;
    border-style: inset;
    border-color: snow;
    border-radius: 10px;
}

#buttonHolder {
    width: 100px;
    clear: both;
    margin: 0 auto;
}
#randomizer {
    border-radius: 10px;
    background-color: #9370a8;
    border-style: solid;
    border-color: black;
    height: 30px;
    width: 120px;
    text-align: center;
    font-size: 15px;
    position: relative;
}