body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #3D5A80
}

#header{
    background-image: url(https://i.ytimg.com/vi/hefDYC8V1F4/hqdefault.jpg?custom=true&w=168&h=94&stc=true&jpg444=true&jpgq=90&sp=68&sigh=5XNGm_x57vP-Yodst12GjrgET-M);
    background-repeat: space;
}

#container {
    background-color: #98C1D9;
    padding: 10px
}

.text {
    color: #293241;
}
#saltButton {
    background-color: #EE6C4D;
    text-align: center;
    height: 50px;
    width: 70px;
    color: #293241;
    border: none;
    display: inline-block;
    border-radius: 10px;
}